In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats, linalg
import time

import torch

# TDC Dept

In [2]:
TDC_Dept_ABC = pd.read_csv('TDC_Dept_Segmentado_ABC.csv')

In [3]:
TDC_Dept_ABC

,Socio,Mob,Saldo_total,Saldo_Mes,Pago_minimo_M0,Utilizacion,Pago_M0,Limite_credito,Genero,ESTADO,...,Edad,Variable_Objetivo_m6,Variable_Objetivo_m5,Variable_Objetivo_m4,Variable_Objetivo_m3,Variable_Objetivo_m2,Variable_Objetivo_m1,L2_Saldo_Mes,L2_Pago,Segmento_ABC
0,CYA,233,103577.89,103577.89,103577.89,207.155780,NaN,500.0,M,QR,...,80,0,0,0,0,0,0,274041.338265,0.0,A
1,CYA,232,103577.89,103577.89,103577.89,207.155780,NaN,500.0,M,QR,...,80,0,0,0,0,0,0,253712.979134,0.0,A
2,CYA,231,103577.89,103577.89,103577.89,207.155780,NaN,500.0,M,QR,...,80,0,0,0,0,0,0,253712.979134,0.0,A
3,CYA,230,103577.89,103577.89,103577.89,207.155780,NaN,500.0,M,QR,...,80,0,0,0,0,0,0,253712.979134,0.0,A
4,CYA,228,103577.89,103577.89,103577.89,207.155780,NaN,500.0,M,QR,...,80,0,0,0,0,0,0,231607.203006,0.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309762,CYA,34,19.90,19.90,17.72,0.007683,NaN,2590.0,F,NL,...,28,0,0,0,0,0,0,19.900000,0.0,C
309763,CYA,33,11.91,11.91,10.61,0.006077,NaN,1960.0,F,COA,...,33,0,0,0,0,0,0,11.910000,0.0,C
309764,CYA,13,11.00,11.00,9.80,0.003235,11.0,3400.0,M,JAL,...,20,0,0,0,0,0,0,11.000000,0.0,C
309765,SHA,12,0.87,0.87,0.76,0.000435,1.0,2000.0,F,GTO,...,26,0,0,0,0,0,0,0.870000,0.0,C
309766,GCC,21,0.32,0.32,0.28,0.000190,NaN,1680.0,F,SON,...,33,0,0,0,0,0,0,0.320000,0.0,C

In [4]:
from sklearn.model_selection import train_test_split

X = TDC_Dept_ABC.drop('Segmento_ABC', axis=1)  # features
y = TDC_Dept_ABC['Segmento_ABC']               # variable estratificadora

X_subset, _, y_subset, _ = train_test_split(
    X, y,
    test_size=0.95,      # mantener 30%
    stratify=y,         # estratificar por PP_ABC
    random_state=42
)

In [5]:
TDC_Dept_ABC = pd.concat([X_subset, y_subset], axis=1)
TDC_Dept_ABC.to_csv('TDC_Dept_ABC_ss.csv', index=False)
TDC_Dept_ABC

,Socio,Mob,Saldo_total,Saldo_Mes,Pago_minimo_M0,Utilizacion,Pago_M0,Limite_credito,Genero,ESTADO,...,Edad,Variable_Objetivo_m6,Variable_Objetivo_m5,Variable_Objetivo_m4,Variable_Objetivo_m3,Variable_Objetivo_m2,Variable_Objetivo_m1,L2_Saldo_Mes,L2_Pago,Segmento_ABC
222816,CYA,19,1549.34,1549.34,492.32,0.648259,NaN,2390.0,M,EM,...,43,1,1,0,0,0,0,1786.438329,359.226948,B
96835,CYA,5,2750.34,2750.34,2750.34,1.375170,NaN,2000.0,M,SIN,...,22,0,0,0,0,0,0,3822.828044,650.000000,A
125196,CYA,42,1867.48,1867.48,1493.91,0.735228,NaN,2540.0,M,COA,...,30,0,0,0,0,0,0,3218.879153,975.987705,A
54440,CYA,30,5492.16,3908.52,745.27,0.624109,5493.0,8800.0,M,EM,...,29,0,0,0,0,0,0,5209.288897,1275.882440,A
491,CYA,71,11119.12,11119.12,2933.87,1.396874,NaN,7960.0,M,JAL,...,26,0,0,0,0,0,0,23066.341465,2188.730193,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199152,CYA,8,690.57,690.57,105.01,0.215803,691.0,3200.0,M,GTO,...,24,0,0,0,0,0,0,2086.462020,1806.967090,B
251182,CYA,132,1147.63,1147.63,172.00,0.316152,NaN,3630.0,M,JAL,...,33,0,0,0,0,0,0,1438.734654,657.666001,B
101194,CYA,12,4716.07,2608.81,370.92,1.007707,NaN,4680.0,M,GTO,...,25,0,0,0,0,0,0,3721.318634,2591.568830,A
226531,CYA,17,1529.67,1529.67,211.70,0.283272,1530.0,5400.0,F,SIN,...,39,0,0,0,0,0,0,1740.754540,588.000000,B
271675,CYA,6,2063.47,1063.47,331.14,0.764248,2064.0,2700.0,F,GRO,...,47,0,0,0,0,0,0,1166.834367,207.000000,C

In [6]:
TDC_Dept_ABC.shape

(15488, 71)

## get_dummies para Segmento_ABC

In [11]:
# one hot encode del segmento ABC
# TDC_Dept_dummy = pd.get_dummies(TDC_Dept_ABC['Segmento_ABC'], drop_first=True, dtype=int)
TDC_Dept_dummy = pd.get_dummies(TDC_Dept_ABC['Segmento_ABC'], dtype=int) # For logistic regression

In [12]:
# TDC_Dept_dummy

## Instanciamos las variables del modelo!!

In [13]:
###################### PROBAMOS CON DIFERENTES VARIABLE PARA EL MODELO LINEAL ######################

######## SOLO USAMOS LOS SEGMENTOS ABC ########
x = np.column_stack((np.ones(len(TDC_Dept_dummy)), TDC_Dept_dummy['B'], TDC_Dept_dummy['C']))  

######## SOLO USAMOS LOS SEGMENTOS ABC + NORMA SALDO MES ########
# x = np.column_stack((np.ones(len(TDC_Dept_dummy)), TDC_Dept_dummy['B'], TDC_Dept_dummy['C'], TDC_Dept_ABC['L2_Saldo_Mes']))

######## SOLO USAMOS LOS SEGMENTOS ABC + VARIABLE_OBJETIVO_Mi ########
# x = np.column_stack((np.ones(len(TDC_Dept_dummy)), TDC_Dept_dummy['B'], TDC_Dept_dummy['C'], TDC_Dept_ABC['Variable_Objetivo_m6'], TDC_Dept_ABC['Variable_Objetivo_m5'], TDC_Dept_ABC['Variable_Objetivo_m4'], TDC_Dept_ABC['Variable_Objetivo_m3'], TDC_Dept_ABC['Variable_Objetivo_m2'], TDC_Dept_ABC['Variable_Objetivo_m1']))

############################ VARIABLE OBJETIVO
# Y = np.array(TDC_Dept_ABC['L2_Pago'])
Y = np.array(TDC_Dept_ABC['Variable_objetivo'])

In [14]:
# x[-100:]

## Prior & Posterior Dist.

In [15]:
############### NUMERO DE SIMULACIONES
S = 10000
################ PARAMETROS DE LIKELIHOOD DEL MODELO
beta = np.zeros((S + 1, x.shape[1]), dtype=np.float32) # 4 es x que son columnas
sigma = np.ones((S + 1,1), dtype=np.float32) # un vector de sigmas

################ inicializca parametros de NORMAL prior para BETA
beta_0 = np.zeros((x.shape[1]), dtype=np.float32)
SIGMA_0 = 100 * np.eye(len(beta_0))
inv_SIGMA_0 = linalg.inv(SIGMA_0)

################ HIPERPARAMETROS DE LA GAMMA PRIOR PARA 1/sigma
nu_0 = 2*0.001 # este hiperparametro 0.001 son valores que se eligen para que la prior no sea informativa. alpha tiene que ser 0.001 para la dist. gamma
sigma2_0 = (2*0.001)/nu_0 # igual este 0.001 se elige para el valor de beta de la dist. gamma

################ necesario para calculo
n = len(x)

prob = np.ones((S + 1,x.shape[0])) # 4 es x que son columnas

################ Instanciamos estas operaciones por fuera del for para optimizar el ciclado ###############
xt_X_x = x.T @ x
xt_X_Y = x.T @ Y
inv_SIGMA_0_X_beta_0 = inv_SIGMA_0 @ beta_0

alpha_post_gamma_inv = (nu_0 + n)/2 # Parametro Alpha de la gamma inversa de sigma^2 de posterior
nu_0_X_sigma2_0 = nu_0*sigma2_0

############################## POSTERIOR FOR BETA AND SIGMA ##############################
start_time = time.time()

for s in range(S):
    current_time = time.time()

    # primero se calcula el vector de medias de x - meu
    # luego se calcula la matriz de covarianza  - sigma

    var = np.linalg.inv(inv_SIGMA_0 + (xt_X_x / sigma[s])) 
    # var = np.linalg.solve(inv_SIGMA_0 + (xt_X_x / sigma[s]), np.eye(x.shape[1]))
    mu = var @ (inv_SIGMA_0_X_beta_0 + (xt_X_Y / sigma[s]))
    
    beta[s+1, :] = np.random.multivariate_normal(mu, var, size=1)
    sigma[s+1] = 1/np.random.gamma(alpha_post_gamma_inv, 1/(nu_0_X_sigma2_0 + 0.5*(Y - x @ beta[s + 1, :]).T @ (Y - x @ beta[s + 1, :])), size=1)
    
    if s == 0:
        print(f"First iteration: {current_time - start_time:.6f} seconds")
        last_time = current_time
        print("-" * 30)
    elif s % 1000 == 0:
        print(f"{s} - Time since last iteration: {current_time - last_time:.6f} seconds")
        last_time = current_time
        print("-" * 30)
    elif s == S - 1:
        print(f"Total time: {last_time - start_time:.6f} seconds")

First iteration: 0.000186 seconds
------------------------------

KeyboardInterrupt

In [10]:
beta[:5]

array([[   0.     ,    0.     ,    0.     ],
       [1380.153  , -483.5479 , -968.9942 ],
       [1269.04   , -337.1927 , -750.88666],
       [1263.889  , -328.98132, -741.5882 ],
       [1264.7933 , -333.52283, -742.19977]], dtype=float32)

In [11]:
sigma[:5]

array([[1.0000000e+00],
       [8.2204369e+05],
       [8.3689919e+05],
       [8.3638644e+05],
       [8.3714062e+05]], dtype=float32)

## Probability Thresholds $\mathbb{P} (y \ge y_0)$

In [ ]:
prob_test = np.ones((n, S + 1)) # Una matriz que guardara las probs
post_mean = x @ beta.T # Esto es una funcion de x (no necesariamente la posterior mean)

# Esto es un threshold que determina si un sujeto i va a pagar o no dado ese threshold

# for sujeto in range(n):
#     prob[s, sujeto] = 1 - stats.norm.cdf(y_0, x[sujeto] @ beta[s+1, :], np.sqrt(sigma[s+1]))


######################## DISTINTOS THRESHOLDS PARA PROBAR SI PAGO >= Y_0 ########################
# y_0 = np.where(TDC_Dept_ABC['Segmento_ABC'] == 'A', TDC_Dept_ABC.loc[TDC_Dept_ABC['Segmento_ABC'] == 'A', 'L2_Pago'].mean(),
#           np.where(TDC_Dept_ABC['Segmento_ABC'] == 'B', TDC_Dept_ABC.loc[TDC_Dept_ABC['Segmento_ABC'] == 'B', 'L2_Pago'].mean(), 
#           np.where(TDC_Dept_ABC['Segmento_ABC'] == 'C', TDC_Dept_ABC.loc[TDC_Dept_ABC['Segmento_ABC'] == 'C', 'L2_Pago'].mean(), 
#                    0)))

y_0 = 0

# y_0 = np.array(TDC_Dept_ABC['Pago_minimo_M0'])

######################## AHORA SI CALCULAMOS LA PROBABILIDAD PARA TODOS LOS SUJETOS ########################

# prob_test = 1 - stats.norm.cdf(y_0, post_mean, np.sqrt(sigma).reshape(1, -1))


start_time = time.time()
for i in range(n):
    current_time = time.time()

    # prob_test[i, :] = 1 - stats.norm.cdf(y_0[i], post_mean[i, :], np.sqrt(sigma).flatten()) # For y_0 as a vector
    prob_test[i, :] = 1 - stats.norm.cdf(y_0, post_mean[i, :], np.sqrt(sigma).flatten())

    if i == 0:
        print(f"First iteration: {current_time - start_time:.6f} seconds")
        last_time = current_time
        print("-" * 30)

    elif i % 10000 == 0:
        print(f"{i} - Time since last iteration: {current_time - last_time:.6f} seconds")
        last_time = current_time
        print("-" * 30)
    elif i == n - 1:
        print(f"Total time: {last_time - start_time:.6f} seconds")

First iteration: 0.013856 seconds
------------------------------
10000 - Time since last iteration: 11.582151 seconds
------------------------------
20000 - Time since last iteration: 7.229461 seconds
------------------------------
30000 - Time since last iteration: 6.668612 seconds
------------------------------
40000 - Time since last iteration: 8.711093 seconds
------------------------------
50000 - Time since last iteration: 7.423034 seconds
------------------------------
60000 - Time since last iteration: 7.259263 seconds
------------------------------
70000 - Time since last iteration: 8.616294 seconds
------------------------------
80000 - Time since last iteration: 9.164703 seconds
------------------------------
90000 - Time since last iteration: 10.761025 seconds
------------------------------
100000 - Time since last iteration: 6.802914 seconds
------------------------------
110000 - Time since last iteration: 10.788480 seconds
------------------------------
120000 - Time since last iteration: 8.514807 seconds
------------------------------
130000 - Time since last iteration: 7.210050 seconds
------------------------------
140000 - Time since last iteration: 10.910728 seconds
------------------------------
150000 - Time since last iteration: 9.031207 seconds
------------------------------
160000 - Time since last iteration: 8.150247 seconds
------------------------------
170000 - Time since last iteration: 10.644426 seconds
------------------------------
180000 - Time since last iteration: 10.708578 seconds
------------------------------
190000 - Time since last iteration: 10.871089 seconds
------------------------------
200000 - Time since last iteration: 11.006682 seconds
------------------------------
210000 - Time since last iteration: 9.669471 seconds
------------------------------
220000 - Time since last iteration: 8.514287 seconds
------------------------------
230000 - Time since last iteration: 7.364735 seconds
------------------------------
240000 - Time since last iteration: 10.930695 seconds
------------------------------
250000 - Time since last iteration: 8.657345 seconds
------------------------------